  <%= simple_form_for(navigation) do |f| %>
<div class="mb-3">
  <%= f.input :time_deadline, as: :datetime, html5: true, :label => "ARRIVAL DATE AND TIME" %>
  <%= f.input :ending_address, placeholder: "Address of your final destination", :label => "DESTINATION" %>
  <%= f.input :weather, collection: Navigation::WEATHER, :label => "TODAY'S WEATHER"%>
</div>
<span style="display:block; height: 20px;"></span>
<%= f.submit %>
  <% end %>
