<h2><%= place.name %></h2>
<p><%= place.address %></p>
<p>Suggested time to spend there: <%= place.duration %> min</p>
<p>Rating: <%= place.rating %>/5</p>
<%# <%= link_to "Read more & add to itinerary", navigation_place_path  %>
