<div class="container-fluid" style="padding-top: 20px; height: 100%">
  <div id="map"
    style="width: 100%; height: 800px;"
    data-nav="<%= @nav_markers.to_json %>"
    data-places="<%= @places_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-visited-steps="<%=  @visited_step_markers.to_json %>"
    data-not-visited-steps="<%=  @not_visited_step_markers.to_json %>"
  >
  </div>
</div>
