<div class="container-fluid" style="padding-top: 20px;">
  <div class="title-card">
    <h1><%= @step.place.name %></h1>

    <li><strong>Duration: </strong><%= @step.place.duration %> minutes | <%= @step.place.exterior? ? "Exterior" : "Interior" %></li>
  <li><strong>Senses: </strong> <%= @step.place.senses %> | <strong>Interests: </strong> <%= @step.place.interest %></li>
  <li><strong>Environment: </strong> <%= @step.place.environment %> | <strong>Rating: </strong> <%= @step.place.rating %> /10</li>
  <li><strong>To know everything: </strong> <%= @step.place.description %></li>
  </ul>

  </div>
<div>